<!-- Table -->
<br />
<h4>Info about your travel</h4>
<div class="row 200%">
    <div class="6u 12u$(medium)">
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Insurance parameters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Destination</td>
                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    </tr>
                    <tr>
                        <td>Insurance amount</td>
                        <td> Morbi faucibus arcu accumsan lorem.</td>
                    </tr>
                    <tr>
                        <td>Start date</td>
                        <td>Vitae integer tempus condimentum.</td>
                    </tr>
                    <tr>
                        <td>End date</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Length</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Table -->
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Price - without tax</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    </tr>
                    <tr>
                        <td>Total price</td>
                        <td> Morbi faucibus arcu accumsan lorem.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul class="actions" align="center">
            <li><a ui-sref='main.insurance' class="button special">Back</a></li>
            <li><a ui-sref='main.home' class="button special">Cancel</a></li>
            <li><a ui-sref='main.insurance.userinfo' class="button special">Next</a></li>
        </ul>
    </div>
</div>

