<h3>{{}}</h3> <!-- ovde ide nosilac osiguranja/osiguranik -->

<!-- Form -->
<div class="row 200%">
    <div class="6u 12u$(medium)">
        <form method="post" action="#" name="userForm">
            <div class="row uniform">

                <div class="6u 12u$(xsmall)">
                    <input type="text" ng-model="name" name="name" id="demo-name" value="" placeholder="Name" ng-minlength="2" required />
                </div>
                
                <div class="6u 12u$(xsmall)">
                    <input type="text" ng-model="surname" name="surname" id="demo-surname" value="" placeholder="Surname" ng-minlength="2" required/>
                </div>

                <div class="12u$">
                    <div ng-show="(userForm.name.$touched && userForm.name.$invalid) || (userForm.surname.$touched && userForm.surname.$invalid)">Name and surname are reqiured.</div>
                </div>

                <div class="12u$">
                    <input type="text" name="address" id="demo-address" value="" placeholder="Address" />

                </div>

                <div class="12u$">
                <input type="text" name="personalno" id="demo-personalno" value="" placeholder="Personal number" />
                </div>

                <div class="12u$">
                    <input type="text" name="passportno" id="demo-passportno" value="" placeholder="Passport number" />
                </div>

                <div class="12u$">
                    <input type="text" name="telephone" id="demo-telephone" value="" placeholder="Telephone number" />
                </div>

                <!-- Za nosioca osiguranja je potrebno uneti i email adresu
                 kako bi dobio poruku o uspešnoj/neuspešnoj kupovini osiguranja. -->
                <div class="12u$">
                    <input type="email" name="email" id="demo-email" value="" placeholder="Email" />
                </div>

            </div>
        </form>
            <ul class="actions" align="center">
                <li><a ui-sref='main.insurance.insuranceinfo' class="button special">Back</a></li>
                <!-- ne radi nam back, ne vidi prethodno stanje -->
                <li><a ui-sref='main.home' class="button special">Cancel</a></li>
                <li><a ui-sref='' class="button special">Next</a></li>
            </ul>
    </div>
</div>
