<section>
    <header>
        <h1>Insurance</h1>
    </header>
    <h2 id="content">Sample Content</h2>
    <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing lorem ipsum dolor sit amet nullam veroeros adipiscing.</p>

    <hr class="major" />
</section>

<h3>Info</h3>

<div class="row 200%">
    <div class="5u 12u$(medium)">
        <form method="post" action="#">
            <div class="row uniform">
                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">Choose region</option>
                            <option value="1">Manufacturing</option>
                            <option value="1">Shipping</option>
                            <option value="1">Administration</option>
                            <option value="1">Human Resources</option>
                        </select>
                    </div>
                </div>
                <div class="4u 12u$(xsmall)">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">Children (0 - 18)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div class="4u 12u$(xsmall)">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">Adults (18 - 60)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div class="4u 12u$(xsmall)">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">Adults (over 60)</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </div>
                <div class="6u 12u$(xsmall)">
                    <input type="date" name="date" id="demo-email" value="" placeholder="From date" />
                </div>
                <div class="6u 12u$(xsmall)">
                    <input type="date" name="date" id="demo-email" value="" placeholder="To date" />
                </div>
                <div class="6u 12u$(small)">
                    <input type="checkbox" id="demo-human" name="demo-human" checked>
                    <label for="demo-human">Will you do sport?</label>
                </div>
                <div class="6u 12u$(small)">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">Choose sport</option>
                            <option value="1">Football</option>
                            <option value="2">Basketball</option>
                        </select>
                    </div>
                </div>
                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="demo-category" id="demo-category">
                            <option value="">- Choose insurance amount -</option>
                        </select>
                    </div>
                </div>
                <div class="12u$">
                    <ul class="actions fit">
                        <li><a href="#" class="button special fit">Next</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>