<section>
    <header>
        <h1>Welcome</h1>
    </header>
    <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing lorem ipsum dolor sit amet nullam veroeros adipiscing.</p>

    <hr class="major" />
</section>

<div class="row 200%">
    <div class="6u 12u$(medium)">
        <form novalidate  name ="ic.formName">
            <div class="row uniform">
                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="region" id="region" ng-model="ic.insurance.travel.regionId" required>
                            <option value="">Choose region</option>
                            <option ng-repeat="region in ic.regions" value="{{region.ID}}">{{region.Name}}
                            </option>
                        </select>
                    </div>
                     <div ng-if="ic.formName.region.$dirty" ng-show="ic.formName.region.$error.required">This field is required.</div>                  
                </div>
                <div class="4u 12u$(xsmall)">
                     <input type="number" step ="1"  name="childNumber" ng-min="1" ng-model ="ic.insurance.travel.numberOfChildren" placeholder="Children (0 - 18)" 
                            only-digits person-required required-fields ="{{ic.formName.adults18Number.$modelValue}},{{ic.formName.adults60Number.$modelValue}}">                   
                </div>
                <div class="4u 12u$(xsmall)">
                    <input type="number" name="adults18Number" ng-min="1" ng-model ="ic.insurance.travel.numberOfAdultsUnder60" placeholder="Adults (18 - 60)"
                            only-digits person-required required-fields ="{{ic.formName.childNumber.$modelValue}},{{ic.formName.adults60Number.$modelValue}}">
                </div>
                <div class="4u 12u$(xsmall)">
                    <input type="number" name="adults60Number" ng-min="1"  ng-model ="ic.insurance.travel.numberOfAdultsOver60" placeholder="Adults (over 60)"
                            only-digits person-required required-fields ="{{ic.formName.childNumber.$modelValue}},{{ic.formName.adults18Number.$modelValue}}">
                </div>
                <div class="12u$" ng-show="ic.formName.adults18Number.$error.personRequired || ic.formName.adults60Number.$error.personRequired || ic.formName.childNumber.$error.personRequired">At least one person is required</div>
                <div class="12u$" ng-show="ic.formName.adults18Number.$error.onlyDigits || ic.formName.adults60Number.$error.onlyDigits || ic.formName.childNumber.$error.onlyDigits">No decimal numbers</div>
               
              
                <div class="6u 12u$(xsmall)">
                    <div class="wrapper">
                        <label for="fromDate">From date:</label>
                        <input type="date" name="fromDate" ng-model ="ic.insurance.travel.dateFrom" placeholder="From date" required />
                     </div>
                </div>
                <div class="6u 12u$(xsmall)">
                     <label for="toDate">To date:</label>
                    <input type="date" name="toDate" ng-model ="ic.insurance.travel.dateTo" placeholder="To date" required/>
                </div>
               


                    <div class="6u 12u$(small)">
                        <input type="checkbox" ng-model="ic.insurance.travel.consumeSport" name="isConsumeSport" id="isConsumeSport">
                        <label for="isConsumeSport">Will you do sport?</label>
                    </div>
                    <div class="6u 12u$(small)">
                        <div class="select-wrapper" ng-show="ic.insurance.travel.consumeSport">
                            <select name="sport" id="sport" ng-model="ic.insurance.travel.sportId">
                                <option value="">Choose sport</option>
                                <option ng-repeat="sport in ic.sports" value="{{sport.ID}}">
                                    {{sport.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="12u$">
                        <div class="select-wrapper">
                            <select name="amount" ng-model="ic.insurance.travel.insuranceAmmount" required>
                                <option value "">Choose insurance amount (RSD)</option>
                                <option value="10 000"> 10 000 </option>
                                <option value="30 000"> 30 000 </option>
                                <option value="70 000"> 70 000 </option>
                            </select>
                        </div>
                    </div>
                <div ng-if="ic.formName.amount.$dirty" ng-show="ic.formName.amount.$error.required">This field is required.</div>
                    <div class="12u$">
                        <ul class="actions fit">
                            <li><a ng-click="ic.goToDetails()" class="button special fit">Calculate</a></li>
                        </ul>
                    </div>
                </div>
        </form>
    </div>
</div>